@media screen and (min-width: 700px) {
  header {
    background-image: url(../img/eimumockupbetterq.jpg);
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: var(--color-2);
  }

  /**/
  #language {
    color: var(--color-4);
  }
  header h1 {
    color: var(--color-4);
    font-size: 3vw;
    width: 30vw;
    margin-left: 60%;
    margin-top: 29%;
  }
  h2 {
    color: var(--color-2);
    text-align: center;
    font-size: 2vw;
    padding-top: 4vw;
  }

  #img {
    display: block;
    width: 90%;
    margin-left: auto;
  }
  #drinks {
    justify-content: center;
    margin-top: -2vw;
    padding: 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  h3 {
    text-align: center;
    font-weight: 200;
    font-size: 1.5vw;
  }

  #icons {
    background-color: var(--color-2);
  }
  #icons h2 {
    color: var(--color-4);
    padding-top: 12vw;
    font-size: 3vw;
  }
  #svgs {
    padding-left: 8vw;
    padding-right: 8vw;
    padding-bottom: 12vw;
    display: flex;
    justify-content: space-around;
  }
  #svgs img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #svgs p {
    color: var(--color-4);
    font-weight: 100;
    font-family: var(--font-2);
    text-align: center;
  }

  #info {
    padding-top: 10vw;
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .grid h2 {
    text-align: left;
    color: var(--color-3);
    font-size: 3vw;
  }

  #info img {
    margin-left: -10vw;
    width: 100%;
  }

  #recipes {
    padding-top: 10vw;
    display: grid;
    grid-template-columns: 60% 40%;
    padding-left: 7vw;
  }
  #recipes p,
  h2 {
    width: 45vw;
  }
  .grid p {
    color: var(--color-1);
    font-weight: 100;
    font-family: var(--font-2);
  }

  .grid ul {
    padding: 0;
    display: inline;
    line-height: 3vw;
    font-weight: 100;
    font-family: var(--font-2);
  }

  #recipes img {
    width: 95%;
    margin-top: -6vw;
  }
}
