@media screen and (min-width: 700px) {
  main img {
    max-width: 80%;
  }
  #produkt {
    display: grid;
    display: grid;
    grid-template-columns: 5% 50% 40% 5%;
    background-repeat: no-repeat;
    background-size: 95vw;
  }
  #info {
    padding-top: 10vw;
  }

  #info h1 {
    color: var(--color-3);
    font-size: 3vw;
  }

  #arrow {
    width: 50%;
    margin-left: 3vw;
    margin-right: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    height: 100%;
  }
  #arrow:hover {
    cursor: pointer;
    transform: translate(-6px, 0px);
    opacity: 0.5;
  }

  #arrow2 {
    width: 50%;
    margin-right: 3vw;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    height: 100%;
  }

  #arrow2:hover {
    cursor: pointer;
    transform: translate(6px, 0px);
    opacity: 0.5;
  }
  .clickingArea {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: -0.8vw;
  }

  #info h2 {
    color: var(--color-1);
    font-size: 1.2vw;
    font-weight: 400;
  }
  #info h2:hover {
    cursor: pointer;
  }

  #info h3 {
    color: var(--color-1);
    font-size: 1.2vw;
    font-weight: 600;
  }
  #info p {
    color: var(--color-1);
    font-size: 1.2vw;
    font-weight: 400;
  }
  #info h3:hover {
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .line {
    margin-top: -0.5vw;
  }

  #detailsSvgs p {
    margin-top: -0.6vw;
    font-size: 1.1vw;
    font-weight: 200;
    padding-bottom: 0.6vw;
  }
  /* COMMENTS STYLING!!!*/
  #comments {
    background-color: var(--color-5);
    padding: 8vw;
  }

  h2 {
    font-size: 2vw;
    color: var(--color-3);
    font-weight: 600;
  }
  /* COOKING SECTION */
  #cooking {
    padding: 8vw;
    display: grid;
    grid-template-columns: 40% 50%;
    column-gap: 10%;
  }

  #cooking img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #text {
    padding-top: 6vw;
  }

  #cooking a {
    text-decoration: underline;
    font-size: 1.2vw;
  }

  /*list of products*/
  #ListOfDrinks {
    background-color: var(--color-5);
  }
  #drinks {
    justify-content: center;
    margin-top: -2vw;
    padding: 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  #find {
    color: var(--color-2);
    text-align: center;
    font-size: 2vw;
    padding-top: 4vw;
  }
  #drinks h3 {
    text-align: center;
    font-weight: 200;
    font-size: 1.5vw;
  }

  #drinks #img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: 1.5vw;
  }

  #produkt p {
    width: 80%;
  }

  /*COMMENT STYLING*/
  main form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 2vw;
    padding: 5vw;
  }

  #comments #button {
    color: var(--color-1);
  }
  #comments #button:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  #comments input,
  textarea {
    border: none;
    padding: 1vw;
  }
  #comments {
    display: grid;
    grid-template-columns: 60% 30%;
  }
  #comments h3 {
    margin-top: -1vw;
    margin-bottom: 3vw;
  }
  #comments h2 {
    font-size: 2.5vw;
  }

  #thankYou {
    font-family: var(--font-3);
    font-size: 1.2vw;
    width: 40vw;
    margin-left: -1vw;
    color: var(--color-3);
  }
}

@media screen and (max-width: 700px) {
  #arrow {
    display: none;
  }

  #arrow2 {
    display: none;
  }

  #info {
    padding: 0vw 10vw;
  }

  #info h1 {
    font-size: 2rem;
  }

  #info h2 {
    font-size: 1.5rem;
  }
  #info h3 {
    font-size: 1.5rem;
  }
  #info p {
    font-size: 1.5rem;
  }

  .clickingArea {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -0.8vw;
  }

  #comments {
    margin-top: 30vw;
    margin-left: 10vw;
  }

  #comment p,
  #comment span,
  #comment h3 {
    font-size: 1.5rem;
  }

  main form {
    display: flex;
    flex-direction: column;
    width: 60vw;
    gap: 5vw;
    padding: 0vw;
    margin-top: 5vw;
  }

  #comments input,
  textarea {
    padding: 1.5vw;
  }

  #cooking {
    padding: 10vw;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 10%;
    font-size: 1.5rem;
  }

  #cooking a {
    font-size: 1.2rem;
  }

  #ListOfDrinks {
    justify-content: center;
    text-align: center;
    margin-bottom: 30vw;
    margin-top: 30vw;
  }

  #ListOfDrinks img {
    margin-left: 5vw;
    width: 60%;
  }

  #ListOfDrinks h2 {
    font-size: 2rem;
    color: var(--color-2);
  }

  #ListOfDrinks h3 {
    font-size: 1.5rem;
    font-weight: 300;
  }
}
