@media screen and (min-width: 700px) {
  main img {
    max-width: 80%;
  }
  #produkt {
    display: grid;
    display: grid;
    grid-template-columns: 5% 50% 40% 5%;
    background-repeat: no-repeat;
    background-size: 95vw;
  }
  #info {
    padding-top: 10vw;
  }

  #info h1 {
    color: var(--color-3);
    font-size: 3vw;
  }

  #arrow {
    width: 70%;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    height: 100%;
  }
  #arrow:hover {
    cursor: pointer;
    transform: translate(-6px, 0px);
    opacity: 0.5;
  }

  #arrow2 {
    width: 70%;
    margin-right: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    height: 100%;
  }

  #arrow2:hover {
    cursor: pointer;
    transform: translate(6px, 0px);
    opacity: 0.5;
  }
  .clickingArea {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: -0.8vw;
  }

  #info h2 {
    color: var(--color-1);
    font-size: 1.2vw;
    font-weight: 400;
  }
  #info h3 {
    color: var(--color-1);
    font-size: 1.2vw;
    font-weight: 600;
  }
  #info p {
    color: var(--color-1);
    font-size: 1.2vw;
    font-weight: 400;
  }
  #info h3:hover {
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .line {
    margin-top: -0.5vw;
  }

  #detailsSvgs p {
    margin-top: -0.6vw;
    font-size: 1.1vw;
    font-weight: 200;
    padding-bottom: 0.6vw;
  }
  /* COMMENTS STYLING!!!*/
  #comments {
    background-color: var(--color-5);
    padding: 8vw;
  }

  h2 {
    font-size: 2vw;
    color: var(--color-3);
    font-weight: 600;
  }
  /* COOKING SECTION */
  #cooking {
    padding: 8vw;
    display: grid;
    grid-template-columns: 40% 50%;
    column-gap: 10%;
  }

  #cooking img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #text {
    padding-top: 6vw;
  }

  #cooking a {
    text-decoration: underline;
    font-size: 1.2vw;
  }

  /*list of products*/
  #ListOfDrinks {
    background-color: var(--color-5);
  }
  #drinks {
    justify-content: center;
    margin-top: -2vw;
    padding: 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  #find {
    color: var(--color-2);
    text-align: center;
    font-size: 2vw;
    padding-top: 4vw;
  }
  #drinks h3 {
    text-align: center;
    font-weight: 200;
    font-size: 1.5vw;
  }

  #drinks #img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: 1.5vw;
  }
}
